body {
    background-color: black;
    color: white;
    height: 93vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 70% 10%;
    grid-gap: 3px;
}

header {
    grid-column-start: 1;
    grid-column-end: span end;
    grid-row-start: 1;
    grid-row-end: span 1;
}

nav {
    grid-column-start: 1;
    grid-column-end: span end;
    grid-row-start: 2;
    grid-row-end: span 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

article {
    grid-column-start: 1;
    grid-column-end: span end;
    grid-row-start: 3;
    grid-row-end: span 1;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 100%;
}

article aside {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span last-line;
}

article main {
    grid-column-start: 2;
    grid-column-end: span end;
    grid-row-start: 1;
    grid-row-end: span last-line;
}

footer {
    grid-column-start: 1;
    grid-column-end: span end;
    grid-row-start: row3-end;
    grid-row-end: last-line;
}

footer p {
    text-align: center;
}

main section {
    text-align: center;
}

main>section>h1 {
    font-size: 3em;
    text-transform: uppercase;
}
aside h3 {
    padding-left: 2em;
}

header,
nav {
    text-align: right;
}

nav h3 {
    padding-right: 22em;
}

header h1 {
    padding-right: 12em;
}

.img-container {
    margin: auto;
    position: relative;
    perspective: 1000px;
    margin-top: 5em;
    width: 480px;
    height: 360px;
    border: 2px solid white;
}

img {
    width: 100%;
    height: 100%;
    transition: transform 200ms ease;
}

img.rotate-in {
    transform-origin: 0;
    transition: transform 200ms ease;
    transform: rotateY(30deg);
}

img.rotate-out {
    transform-origin: 100%;
    transition: transform 200ms ease;
    transform: rotateY(-30deg);
}