@import url('https://fonts.googleapis.com/css?family=Muli');
body {
    background-color: black;
    color: white;
    font-family: 'Muli', Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.not-footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr auto;
}

header {
    grid-column-start: 1;
    grid-column-end: span end;
    grid-row-start: 1;
    grid-row-end: span 1;
}

nav {
    grid-column-start: 1;
    grid-column-end: span end;
    grid-row-start: 2;
    grid-row-end: span 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

article {
    grid-column-start: 1;
    grid-column-end: span end;
    grid-row-start: 3;
    grid-row-end: span 1;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 100%;
}

article aside {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span last-line;
}

article main {
    grid-column-start: 2;
    grid-column-end: span end;
    grid-row-start: 1;
    grid-row-end: span last-line;
}

footer {
    flex-grow: 1;
}

footer p {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 96%;
}

main section {
    text-align: center;
}

main>section>h1 {
    font-size: 3em;
    text-transform: uppercase;
}

aside h3 {
    padding-left: 2em;
}

header {
    text-align: center;
}

nav {
    text-align: right;
}

nav h3 {
    text-decoration: underline;
    padding-right: 15%;
}

header h1 {
    padding-right: 10%;
}

.img-container {
    margin: auto;
    position: relative;
    perspective: 1000px;
    margin-top: 5em;
    width: 480px;
    height: 360px;
    border: 2px solid white;
}

img {
    width: 100%;
    height: 100%;
    transition: transform 200ms ease;
}

img.rotate-in {
    transform-origin: 0;
    transition: transform 200ms ease;
    transform: rotateY(30deg);
}

img.rotate-out {
    transform-origin: 100%;
    transition: transform 200ms ease;
    transform: rotateY(-30deg);
}

@media only screen and (max-width: 900px) {
    header h1 {
        font-size: 1em;
        padding-right: 0;
    }
    nav {
        text-align: center;
    }
    nav h3 {
        font-size: 0.8em;
        padding-right: 0;
    }
    article {
        grid-template-columns: 100%;
    }
    article aside {
        /*Disable Quick Links on mobile, as it is non-essential*/
        display: none;
    }
    article main {
        grid-column-start: 1;
    }
    main>section>h1 {
        font-size: 1.2em;
    }
    main>section>h2 {
        font-size: 1em;
    }
    .img-container {
        margin-top: 2em;
        width: 96%;
        height: auto;
    }
}